/*
How to write CSS rule:
target { rule-name: rule-value; }

Possible Target:
- HTML element (<header>)
- Elements w/ Assigned Class (.grid-box)
- Elements w/ Assigned ID (#menu)

Example:
1. Change text color in a container with assigned class name "demo"
.demo { 
    color:red;
}

2. 2px black border with 15px padding all around for an element with assigned class name "box" in a container with assigned class name "grid-container"
.grid-container .box {
    border:2px solid black;
    padding:15px;
*/

/* Content Starter */
main {
    
}


/* Flex Box Starter */
/* REMEMBER 1: This is just to initiate flex display, you still need to assign rule to its children */
.flex-container { 
    display:flex; 
    align-items:center;
}

/* Table Starter */
#schedule-table { 
    border-collapse:collapse;
}
#schedule-table > tbody > tr > th,
#schedule-table > tbody> tr > td { 
    border:1px solid black;
}

/* Grid Box Starter */
/* REMEMBER 1: There are placeholders in the rule, please change them accordingly */
/* REMEMBER 2: This is to initiate grid display, you still need to assign rules for its children to determine how many grid columns they take up respectively */
.grid-container { 
    display:grid; 
    grid-template-columns:repeat([number of times],[unit]); 
    gap:[value]
}
*{margin:0; padding:0 ;}
header {background-color: darkgreen; color: white; padding: 15px; display:flex}
#logo {font-size: 20px; text-align: left; border: 5px ridge white; padding: 5px 15px ; flex: 1;}
#slogan{color: aquamarine; font-size: 32px; flex: 2; text-align: center;}
#menu{ flex: 1; text-align: right;display: flex}
#menu a{flex:1}
footer{background-color: black; color:white; padding:30px; text-align: center;}
main{background-color: beige;color: black; padding: 30px 100px;}
main h1{color: red;text-align: center; margin: 0 0 30 0 }
main p{font-size: 16px;}
main img{width: 100%; margin-bottom: 50px;}
table td {border: 1px solid black; border-collapse: collapse;padding: 30px ; width: 500px;}
.grid-container{display:grid; grid-template-columns: repeat(12,1fr); gap:15px;}
.grid-container .box { border:2px solid black;}
.grid-container .box-1 { grid-column:span 6;}
.grid-container .box-2 { grid-column:span 3;}
.grid-container .box-3 { grid-column:span 3;}